In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv', sep=',')
#test = pd.read_csv('test.csv',sep=',')

In [3]:
print("size of the data:",train.shape)

size of the data: (37670293, 24)

In [32]:
train_2 = train.dropna()
print ("size of the data without the missing data:", train_2.shape)

size of the data without the missing data: (24117897, 24)

In [3]:
train.columns

Index(['date_time', 'site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id',
       'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market',
       'hotel_cluster'],
      dtype='object')

In [4]:
train.head(n=7)

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21
5,2014-08-09 18:13:12,2,3,66,442,35390,911.5142,93,0,0,...,0,1,14984,1,0,1,2,50,1457,92
6,2014-07-16 09:42:23,2,3,66,189,10067,NaN,501,0,0,...,0,1,8267,1,0,2,2,50,675,41

In [8]:
hotel_cluster = train['hotel_cluster'].unique()
np.sort(hotel_cluster)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [11]:
train['hotel_cluster'].describe()

count    3.767029e+07
mean     4.980861e+01
std      2.891595e+01
min      0.000000e+00
25%      2.500000e+01
50%      4.900000e+01
75%      7.300000e+01
max      9.900000e+01
Name: hotel_cluster, dtype: float64

In [6]:
# types of the data
train.dtypes

date_time                     object
site_name                      int64
posa_continent                 int64
user_location_country          int64
user_location_region           int64
user_location_city             int64
orig_destination_distance    float64
user_id                        int64
is_mobile                      int64
is_package                     int64
channel                        int64
srch_ci                       object
srch_co                       object
srch_adults_cnt                int64
srch_children_cnt              int64
srch_rm_cnt                    int64
srch_destination_id            int64
srch_destination_type_id       int64
is_booking                     int64
cnt                            int64
hotel_continent                int64
hotel_country                  int64
hotel_market                   int64
hotel_cluster                  int64
dtype: object

In [25]:
# converting date_time to type (datetime) instead of string 
train['date_time']=pd.to_datetime(train['date_time'],infer_datetime_format=True)
#train['srch_ci']=pd.to_datetime(train['srch_ci'],infer_datetime_format=True)
#train['srch_co']=pd.to_datetime(train['srch_co'],infer_datetime_format=True)

train.dtypes

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2557-08-15 00:00:00

In [31]:
from datetime import datetime
for k in range (len(train['srch_ci'])):
    train['srch_ci']= datetime.strptime(train['srch_ci'].iloc[k], '%Y-%m-%d')

TypeError: strptime() argument 1 must be str, not Timestamp

## Converting Check In date, and Check Out date

In [36]:
train_2['ci_year']=train_2['srch_ci'].apply(lambda x: x.year).astype(int)
train_2['ci_year'].head()

/Users/soohyunlee/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

0    2014
1    2014
2    2014
3    2014
4    2014
Name: ci_year, dtype: int64

In [37]:
train_2[['ci_year']<2020]

TypeError: '<' not supported between instances of 'list' and 'int'

In [8]:
train.describe()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
count,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,2.414529e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,...,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07,3.767029e+07
mean,9.795271e+00,2.680473e+00,8.610880e+01,3.084060e+02,2.775304e+04,1.970090e+03,6.044518e+05,1.349265e-01,2.489042e-01,5.870761e+00,...,3.321222e-01,1.112663e+00,1.444109e+04,2.582280e+00,7.965675e-02,1.483384e+00,3.156305e+00,8.129685e+01,6.004619e+02,4.980861e+01
std,1.196754e+01,7.480393e-01,5.924310e+01,2.084437e+02,1.678255e+04,2.232442e+03,3.506175e+05,3.416451e-01,4.323782e-01,3.717095e+00,...,7.314981e-01,4.591155e-01,1.106630e+04,2.153019e+00,2.707611e-01,1.219776e+00,1.623189e+00,5.617119e+01,5.117391e+02,2.891595e+01
min,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.000000e+00,6.600000e+01,1.740000e+02,1.300900e+04,3.131670e+02,2.989100e+05,0.000000e+00,0.000000e+00,2.000000e+00,...,0.000000e+00,1.000000e+00,8.267000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,1.600000e+02,2.500000e+01
50%,2.000000e+00,3.000000e+00,6.600000e+01,3.140000e+02,2.765500e+04,1.140491e+03,6.039140e+05,0.000000e+00,0.000000e+00,9.000000e+00,...,0.000000e+00,1.000000e+00,9.147000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,5.930000e+02,4.900000e+01
75%,1.400000e+01,3.000000e+00,7.000000e+01,3.850000e+02,4.241300e+04,2.552599e+03,9.101680e+05,0.000000e+00,0.000000e+00,9.000000e+00,...,0.000000e+00,1.000000e+00,1.879000e+04,5.000000e+00,0.000000e+00,2.000000e+00,4.000000e+00,1.060000e+02,7.010000e+02,7.300000e+01
max,5.300000e+01,4.000000e+00,2.390000e+02,1.027000e+03,5.650800e+04,1.240790e+04,1.198785e+06,1.000000e+00,1.000000e+00,1.000000e+01,...,9.000000e+00,8.000000e+00,6.510700e+04,9.000000e+00,1.000000e+00,2.690000e+02,6.000000e+00,2.120000e+02,2.117000e+03,9.900000e+01

In [16]:
train['num of stay']= train['srch_co']- train['srch_ci']
train['num of stay'].head()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [9]:
# Number of unique users
train['user_id'].unique().size

1198786

In [24]:
for columns in train:
    print ('Column Name: ',columns)
    print (train[columns].unique())

Column Name:  date_time
['2014-08-11 07:46:59' '2014-08-11 08:22:12' '2014-08-11 08:24:33' ...,
 '2014-02-09 15:59:16' '2014-09-08 14:52:52' '2014-09-18 08:49:33']
Column Name:  site_name
[ 2 30 37 24 25 13 11 33 17 10 34 26 23  8 28 47 22 35 44 27  9 32 21 29  7
 14 18 40 15 31 19 16 36 45 46 53  6 20 38 48 41 43  3  5  4]
Column Name:  posa_continent
[3 4 1 2 0]
Column Name:  user_location_country
[ 66 195  69   3  55  23  46 205 194 133 182  68 215 103 134   1  77 202
 239  80 198  85  93  28   0  70 119  12 148 167  75 154 231 173 141  71
  24   6 190 209  51  49 157 162 158   5 235  63 143  54  32  62  29 168
  52 130 214  39  50 225  27  48 179  64 221  91 206  82 229 191  59 219
 101  19 230 142 115 166 208 111 217  57  47 109  26 181 218 176 174  34
 233 105 108  92 144 192  16 114 118 104 163  74 184 150 178 129 125 131
 117   4  58 156  30  31  65 149 126  67 152 228 197 123  43  83  45  13
  95  15  44 139  10  60 146 124  76  73 137 238  99 188 224 223 155  72
  87 122 222 196 112  61  22 226  25 234 180 136 200 186 151 193 147 106
  11  40   8  56 189 204 153 185 116  35 127 213 232  21 216 171  18  78
  42 187  84 210 169 183 135  96  20 121  38 172 220  98  36  41 237 207
  90 211   9 175 100 165  79 128  81  86 102  33 160 161  97 164 236  89
 212 227 170 132 110  17  37 113 203  53  94 120 159 199  88   7 138 201
 145 140 107]
Column Name:  user_location_region
[348 442 189 ..., 137 511 500]
Column Name:  user_location_city
[48862 35390 10067 ..., 15513 31802 48865]
Column Name:  orig_destination_distance
[ 2234.2641   913.1932   913.6259 ...,  1181.3053  1181.4133   649.6568]
Column Name:  user_id
[     12      93     501 ..., 1198099 1198173 1198182]
Column Name:  is_mobile
[0 1]
Column Name:  is_package
[1 0]
Column Name:  channel
[ 9  3  2  4  1  0  7  5  6  8 10]
Column Name:  srch_ci
['2014-08-27' '2014-08-29' '2014-11-23' ..., '2558-03-15' '2557-11-14'
 '2024-09-13']
Column Name:  srch_co
['2014-08-31' '2014-09-02' '2014-11-28' ..., '2558-03-16' '2557-11-15'
 '2025-09-13']
Column Name:  srch_adults_cnt
[2 1 3 4 5 8 9 0 6 7]
Column Name:  srch_children_cnt
[0 2 3 1 5 4 9 7 6 8]
Column Name:  srch_rm_cnt
[1 2 3 4 5 8 0 7 6]
Column Name:  srch_destination_id
[ 8250 14984  8267 ...,  9949 48208 49666]
Column Name:  srch_destination_type_id
[1 6 4 8 3 7 5 9 0 2]
Column Name:  is_booking
[0 1]
Column Name:  cnt
[  3   1   2   5   4  10   8   6   7  23   9  11  14  12  13  15  16  21
  20  17  28  19  18  29  22  44  25  24  59  26  49  36  32  30  31  34
 110  43  33  27  41  42  37  38  51  35  50 120  39  46 107  40  78  47
  53  45  55  82 186  48  67  62  64 261  54  56 113  73  61 191  63  52
  91  77  68 118  81 247  70  79 245  75  66  86  88  85  83  60  72 137
  69 115  57  95  71  58 157 111 269 140  76  99 126  74]
Column Name:  hotel_continent
[2 0 3 6 4 5 1]
Column Name:  hotel_country
[ 50 185 151 204   8  87   5 105  77 198  88  82  99  70 106 203  22 208
   0  68 107  46 135 163  11 144  48 146  51 182 171  63  31 170  21 200
 162  47  96 121  36 125 141 196 128 124  93 140 152  84  52 174  35 118
 186  32  80 100   1 130 126 168 136  79  26   7 129 180 169  12  17 104
 110  34 158 153  15 132 119 193 127   9  67 160  66 161  92 122  23  13
 147  98 102 148 115 194   3 111  72 157  73 202  27   2  39 199 190  60
 206 159  53 131 143 212  10 137  45  81 179  57 108  19  24   4  64  78
  38 167 109 201  25  83  75  76 120 112  89  61 156  29 139 197  42 178
 134  44  58  74 184 192  20 211 116 188 114 165  71 166  30  37 207  14
 103 210 176  55  33  18 150  65  85  28 205  94  43 149 101 191  56 209
  95 189  54 142 183 133 181  69 187 177  16  49 145 123  97 173   6 117
 155 164 195  86  91 154 113  59  90 138  41  40  62 175 172]
Column Name:  hotel_market
[ 628 1457  675 ..., 1218 1567 2042]
Column Name:  hotel_cluster
[ 1 80 21 92 41 69 70 98 10 18 28 25  2 16 94 77 24 58 36 82 46 30 29 57 85
  5 59 62 81  6 53  8 73 26 95 13 42  9 55 91 72 65 56 68 75 38 67 78 43 37
 99 35 20 90 50 22 64 60 11 97 89 83 14 51 15 40 45 84 54 76 17 49 32  7 88
 79  4 39 47 19 33 48 93  0 34 63 96 44  3 12 86 71 61 66 52 87 31 27 23 74]

In [10]:
# Number of missing data 
train.isnull().sum(axis=0)

date_time                           0
site_name                           0
posa_continent                      0
user_location_country               0
user_location_region                0
user_location_city                  0
orig_destination_distance    13525001
user_id                             0
is_mobile                           0
is_package                          0
channel                             0
srch_ci                         47083
srch_co                         47084
srch_adults_cnt                     0
srch_children_cnt                   0
srch_rm_cnt                         0
srch_destination_id                 0
srch_destination_type_id            0
is_booking                          0
cnt                                 0
hotel_continent                     0
hotel_country                       0
hotel_market                        0
hotel_cluster                       0
dtype: int64

In [11]:
train['hotel_cluster'].unique().size

100

In [13]:
train['month']=train['date_time'].apply(lambda x: x.month).astype(str)

In [14]:
train['month'].head()

0    8
1    8
2    8
3    8
4    8
Name: month, dtype: object

In [ ]:
sns.counterplot('booki')

### Unsupervised Clustering

In [12]:
from sklearn.cluster import KMeans

In [13]:
mat = train.as_matrix()
mat

array([['2014-08-11 07:46:59', 2, 3, ..., 50, 628, 1],
       ['2014-08-11 08:22:12', 2, 3, ..., 50, 628, 1],
       ['2014-08-11 08:24:33', 2, 3, ..., 50, 628, 1],
       ...,
       ['2014-09-15 06:56:51', 2, 3, ..., 50, 663, 94],
       ['2014-09-18 08:49:33', 2, 3, ..., 50, 592, 42],
       ['2014-09-18 08:52:42', 2, 3, ..., 50, 592, 42]], dtype=object)

In [ ]:
trial1 = train[]

In [16]:
kmeans = KMeans(n_clusters=5,random_state=0).fit(mat)
kmeans.labels_

ValueError: could not convert string to float: '2014-09-19'

In [ ]:
kmeans.cluster_centers_