In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
import seaborn as sns

# 1. Exploratory Data Analysis

In [2]:
train = pd.read_csv('train.csv', sep=',')
#test = pd.read_csv('test.csv',sep=',')

In [3]:
print("size of the data:",train.shape)

size of the data: (26941500, 25)

In [4]:
train.head(n=7)

,Unnamed: 0,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,11576644,2013-01-30 09:48:21,2,3,85,235,43454,NaN,112239,0,...,0,1,8263,1,0,3,6,17,23,82
1,29520606,2014-11-23 22:37:12,2,3,66,442,76,4740.8784,586999,0,...,0,1,12623,5,0,1,6,170,313,22
2,33049478,2014-12-28 16:25:08,2,3,66,442,35390,647.8278,407093,0,...,0,1,4476,3,0,1,2,50,842,7
3,17432446,2014-05-28 09:23:46,34,3,205,354,51792,NaN,576076,0,...,0,1,14875,1,0,1,2,198,750,32
4,21390045,2014-07-07 18:15:12,2,3,66,311,31206,394.5247,849220,0,...,0,3,8291,1,0,1,2,50,191,91
5,37315050,2014-07-10 12:22:02,17,1,133,19,18022,NaN,1126166,0,...,0,1,8266,1,1,1,2,50,411,37
6,31994780,2013-11-28 08:50:57,2,3,66,174,47451,NaN,1033277,0,...,0,1,30793,4,0,2,2,50,666,73

In [5]:
# converting date_time to type (datetime) instead of string 
#train['date_time']=pd.to_datetime(train['date_time'],infer_datetime_format=True)
#train['srch_ci']=pd.to_datetime(train['srch_ci'],infer_datetime_format=True)
#train['srch_co']=pd.to_datetime(train['srch_co'],infer_datetime_format=True)

#train.dtypes

In [6]:
train.columns

Index(['Unnamed: 0', 'date_time', 'site_name', 'posa_continent',
       'user_location_country', 'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id',
       'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market',
       'hotel_cluster'],
      dtype='object')

In [7]:
hotel_cluster = train['hotel_cluster'].unique()
np.sort(hotel_cluster)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [8]:
train['hotel_cluster'].describe()

count    2.694150e+07
mean     4.980311e+01
std      2.891860e+01
min      0.000000e+00
25%      2.500000e+01
50%      4.900000e+01
75%      7.300000e+01
max      9.900000e+01
Name: hotel_cluster, dtype: float64

In [9]:
for columns in train:
    print ('Column Name: ',columns)
    print (train[columns].unique())

Column Name:  Unnamed: 0
[11576644 29520606 33049478 ...,  5228215  7511623 37240708]
Column Name:  date_time
['2013-01-30 09:48:21' '2014-11-23 22:37:12' '2014-12-28 16:25:08' ...,
 '2013-09-28 14:12:09' '2014-07-19 23:09:32' '2014-03-02 10:01:07']
Column Name:  site_name
[ 2 34 17 37 11 24  8 33 13 22 26 53 18 30 23 28 29 27 25 35 15 10 45 14 32
  7 46  9 40 43 36  6 38 21 16 20 48 31 44 19 47 41  5  4  3]
Column Name:  posa_continent
[3 1 2 4 0]
Column Name:  user_location_country
[ 85  66 205 133 103  69   3  63 194  48  77 231 202  46   0 215 119  23
 235  19 196  27 117 158 115 195 154   1 149 123  30  68  80  52 167  12
  70  55  75 182 214 163  39 162  62 130 191 104  26 131  28   5  91 198
 179  32  57  71 218 181 190 230  58  83  82  22  24  50  29 229  60  59
 148  61 168  93  51  54 192  11 176  73 197   8  98 134 217  87 188 178
  76  95 180 151   4   6 141 206 144 174  45  47 101  72 108  65 223 239
  74 156  36 105 183 106 221  40 234 137 209 187 219  10 173 109  44 125
 233  34 150  20  64 157 152  37 226 225 200  92  43 142 129 185 189 112
 146 143 228 124 118  15 155 114  41  16 111  99  67  25 208 238 222  97
 169  49 166 116 122  17  31  78 159 100  56 211  96 126  35 237 210 136
 236 121 213  33 165  79  38 220 175 172 216 184  89 153  18 127  42  13
 128 193 113  90 147 161 107  86 110 186 212   9  21  81 227 224 199 132
 207 139  84  53 160 232 170 145 204 171 135 201 203 140 164   7 138 102
  88  94 120]
Column Name:  user_location_region
[235 442 354 ..., 277 905 698]
Column Name:  user_location_city
[43454    76 35390 ...,  1335 45700 11531]
Column Name:  orig_destination_distance
[       nan  4740.8784   647.8278 ...,    30.7578   356.0405   847.8612]
Column Name:  user_id
[ 112239  586999  407093 ..., 1178385 1010385  519659]
Column Name:  is_mobile
[0 1]
Column Name:  is_package
[0 1]
Column Name:  channel
[ 3  4  9  0  5  1  2  7  6  8 10]
Column Name:  srch_ci
['2013-04-11' '2014-12-25' '2014-12-29' ..., '2016-04-23' '2016-05-12'
 '2016-03-28']
Column Name:  srch_co
['2013-04-13' '2014-12-27' '2014-12-30' ..., '2016-06-20' '2026-03-13'
 '2012-12-30']
Column Name:  srch_adults_cnt
[2 1 6 3 4 5 8 7 9 0]
Column Name:  srch_children_cnt
[0 1 2 3 4 6 5 7 8 9]
Column Name:  srch_rm_cnt
[1 3 4 2 5 7 8 6 0]
Column Name:  srch_destination_id
[ 8263 12623  4476 ..., 59117 55465 64529]
Column Name:  srch_destination_type_id
[1 5 3 4 6 8 7 9 0 2]
Column Name:  is_booking
[0 1]
Column Name:  cnt
[  3   1   2   6   4   5  24   8   7  10  22  12   9  14  11  26  18  15
  21  30  13  17  16  19  23  39  20  28  35  25  40  33  29  27  31  42
  32  43  34  36  56  51  38  49  52  44  37  45  53  78  46  48 186  47
  76 157  62  59  41 107  77  55  57  54  50 247  64  58  66 113 120  60
 261 140  85  61  99  67  86  70  63  88  81  83  68 111 245  79 118  73
  72  95  75  69]
Column Name:  hotel_continent
[6 2 4 0 5 3 1]
Column Name:  hotel_country
[ 17 170  50 198  32  68  47 119  70  63 122  31  46  92   0 204  77 105
 118  48 151 126   5   8 203 104  99 163  22 171 100 128 140 144 186  82
 182 152 107 162  13  88  98 106 196   7 208  34 135  67 121 169 168  35
  51  96 110 127  93 146 137 174  21 124  36 194  11  15 130  80  64  79
 141   2  52  87   4   1  43 156 136 180 199  26 132  60  73  45 125 160
 200 115  12 192 193  25  16  58  28 112 108 111 185 131  57 134 129  27
 153 103 157 211 202   9  20 116 206 189 147  66  84 148  81  78  76 159
  42  38 201  30 158  89  14  95 102 161 165 142 188  71   3 179  83 114
  23 212  19 210  53  61  18 184  74  44 150 123 143  29  24 155 133  55
 139  69  72 190 117 197  10  39 166 191 145 205  33 183  75   6  54 101
 209  91 181 177 154 109 167 120 149  37  94 173  59  97  49  40  56 176
 138 164 207  41 113 178 187 195  65  62  85  86  90 175]
Column Name:  hotel_market
[  23  313  842 ..., 2040  373 1959]
Column Name:  hotel_cluster
[82 22  7 32 91 37 73  0 97 29 88 39 27 70 95 20 90 55 14 72 46 56 67 98  5
 71 80 54  8 21 81 52  3 60 83 58 36 31 62 64 57 10 99 77 28  2  6 33 44  1
 65 24 47  9 48 16 68 59 41 92 34 30 42 85 11 69 79 12 17 38 96 51 25 13 45
 93 61 40 15 50 74  4 78 53 18 66 26 23 75 63 94 19 43 49 76 86 89 84 35 87]

### Managing the Missing Data

In [10]:
# Number of missing data 
train.isnull().sum(axis=0)

Unnamed: 0                         0
date_time                          0
site_name                          0
posa_continent                     0
user_location_country              0
user_location_region               0
user_location_city                 0
orig_destination_distance    9674092
user_id                            0
is_mobile                          0
is_package                         0
channel                            0
srch_ci                        33505
srch_co                        33505
srch_adults_cnt                    0
srch_children_cnt                  0
srch_rm_cnt                        0
srch_destination_id                0
srch_destination_type_id           0
is_booking                         0
cnt                                0
hotel_continent                    0
hotel_country                      0
hotel_market                       0
hotel_cluster                      0
dtype: int64

In [11]:
train_2 = train.dropna()
print ("size of the data without the missing data:", train_2.shape)

size of the data without the missing data: (17247893, 25)

### Converting Check In date, and Check Out date

In [12]:
train_2['ci_year']=train_2['srch_ci'].apply(lambda x: x[:4]).astype(int)
train_2['co_year']=train_2['srch_co'].apply(lambda x: x[:4]).astype(int)

/Users/soohyunlee/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/soohyunlee/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [13]:
train2=train_2[train_2['ci_year']<2020]
train2['co_year'].unique()

array([2014, 2013, 2015, 2016, 2019])

In [14]:
train2['ci_year'].unique()

array([2014, 2013, 2015, 2016, 2018, 2012])

In [15]:
train2['srch_ci']=pd.to_datetime(train2['srch_ci'],infer_datetime_format=True)
train2['srch_co']=pd.to_datetime(train2['srch_co'],infer_datetime_format=True)

/Users/soohyunlee/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/soohyunlee/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [16]:
train2['stay']= train2['srch_co']- train2['srch_ci']

/Users/soohyunlee/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
train2['stay']=train2['stay'].apply(lambda x: x.days)

/Users/soohyunlee/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [18]:
train3 = train2.drop(['date_time','srch_ci','srch_co'],axis=1)
train3.dtypes

Unnamed: 0                     int64
site_name                      int64
posa_continent                 int64
user_location_country          int64
user_location_region           int64
user_location_city             int64
orig_destination_distance    float64
user_id                        int64
is_mobile                      int64
is_package                     int64
channel                        int64
srch_adults_cnt                int64
srch_children_cnt              int64
srch_rm_cnt                    int64
srch_destination_id            int64
srch_destination_type_id       int64
is_booking                     int64
cnt                            int64
hotel_continent                int64
hotel_country                  int64
hotel_market                   int64
hotel_cluster                  int64
ci_year                        int64
co_year                        int64
stay                           int64
dtype: object

# 2. Splitting the data into Training data and Testing data

In [19]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(train3, test_size=0.2)

In [20]:
train.shape

(13798312, 25)

# 3. Unsupervised K-Means Clustering

In [21]:
from sklearn.cluster import KMeans

In [22]:
mat = train.as_matrix()

In [23]:
kmeans = KMeans(n_clusters=5,random_state=0).fit(mat)
kmeans.labels_

array([3, 1, 0, ..., 3, 1, 4], dtype=int32)

In [24]:
kmeans.cluster_centers_

array([[  3.39182401e+07,   6.42099211e+00,   2.90591839e+00,
          8.88904484e+01,   3.10859891e+02,   2.81582591e+04,
          1.96117215e+03,   5.96825155e+05,   1.37352120e-01,
          2.46502908e-01,   6.02744433e+00,   2.03890330e+00,
          3.49409426e-01,   1.10269610e+00,   1.43812101e+04,
          2.63051748e+00,   8.18260218e-02,   1.47798025e+00,
          2.88784374e+00,   7.43405656e+01,   6.17912785e+02,
          4.98136913e+01,   2.01384433e+03,   2.01386630e+03,
          3.28505914e+00],
       [  3.80048700e+06,   6.26816418e+00,   2.89843397e+00,
          8.82706251e+01,   3.11537719e+02,   2.80037698e+04,
          1.96653695e+03,   5.87046794e+05,   1.35704896e-01,
          2.43588132e-01,   5.99751671e+00,   2.04257298e+00,
          3.49563776e-01,   1.10594466e+00,   1.43579421e+04,
          2.62633032e+00,   8.24479573e-02,   1.47568712e+00,
          2.89046640e+00,   7.39837680e+01,   6.20010627e+02,
          4.98461094e+01,   2.01384985e+03,   2.01387286e+03,
          3.26565639e+00],
       [  1.89107321e+07,   6.60907760e+00,   2.90738765e+00,
          9.00944122e+01,   3.11203026e+02,   2.81639898e+04,
          1.95109993e+03,   5.89453573e+05,   1.38412158e-01,
          2.48307136e-01,   5.98892051e+00,   2.04343164e+00,
          3.49437789e-01,   1.10113710e+00,   1.43392508e+04,
          2.61399048e+00,   8.12148585e-02,   1.47766429e+00,
          2.88601364e+00,   7.44684516e+01,   6.17943614e+02,
          4.98065302e+01,   2.01384852e+03,   2.01387043e+03,
          3.28022705e+00],
       [  2.64715415e+07,   5.94438503e+00,   2.89703922e+00,
          8.60363491e+01,   3.12544195e+02,   2.79997517e+04,
          1.98162175e+03,   6.11425099e+05,   1.35967947e-01,
          2.39548327e-01,   5.99959473e+00,   2.03724819e+00,
          3.53746070e-01,   1.10467145e+00,   1.44348141e+04,
          2.63674007e+00,   8.31148510e-02,   1.47065192e+00,
          2.91207171e+00,   7.39702920e+01,   6.21065067e+02,
          4.99891112e+01,   2.01384566e+03,   2.01386795e+03,
          3.26536533e+00],
       [  1.13393137e+07,   5.92808320e+00,   2.90364186e+00,
          8.62716553e+01,   3.11503243e+02,   2.79981264e+04,
          1.98833415e+03,   6.05192146e+05,   1.36295118e-01,
          2.41824497e-01,   6.00842063e+00,   2.03683727e+00,
          3.48983348e-01,   1.10309538e+00,   1.43864727e+04,
          2.62659208e+00,   8.28217249e-02,   1.47515986e+00,
          2.89199143e+00,   7.38869409e+01,   6.21512812e+02,
          5.00069836e+01,   2.01384335e+03,   2.01386610e+03,
          3.27503554e+00]])